
.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Keeps it behind other content */
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); /* Shadow effect */
}


.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.search {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.pagination {
  margin-top: 30px;
  font-weight: bold;
}


body, html {
  overflow-x: hidden;
}
